
<!-- YOU CAN REMOVE THE DIVS IF YOU WANT TO -->

<div class="container mt-5">
    <center>
        <h1>User found</h1><br>
    </center>

{{#each users}}
    <h3>Email: {{email}}</h3>
    <h2>Name: {{name}}</h3>
    <p>Password: {{password}}</p>
{{/each}}

</div>